extends base
- var current_title = page.title || tag.name || category.name || site.title

block title
  if config.subtitle
    title= config.title + ' | ' + config.subtitle
  else
    title= config.title

block content
  div#index-posts
    - counter = 0
    for post in page.posts.toArray()

      - counter = counter + 1
      if counter == 1
        div.index-post.pure-u-md-4-4
          div.screen-wide-bg
            .post-content
              a(href=url_for(post.path))
                +thumbnail(post)
      
            h3.post-title
              a(href=url_for(post.path))
                +title(post)
            if post.description
              .post-desc
                != post.description
            else
              .post-desc
                - var content = ''
                - var tags = post.tags.toArray()
                - tags.forEach(function(val, key){
                    - n = val.name
                    - if (key == 0) { content += (n.charAt(0).toUpperCase() + n.slice(1)) }
                    - else if (key == tags.length - 1) { content += (' and ' + n + '.')  }
                    - else {content += (', ' + n) }
                - })
                  // - console.log(tag)
                != content
            div(class='readmore')
              a(href=url_for(post.path))= readingTime(post.content)

      else
        div.index-post.pure-u-md-1-2
          //-
            h1.post-title
              include _partial/helpers
              a(href=url_for(post.path))
                +title(post)
            .post-meta= post.date.format(config.date_format)
            if theme.duoshuo
              a.ds-thread-count(data-thread-key=post.path, href=url_for(post.path) + '#comments')
            if theme.disqus
              a.disqus-comment-count(data-disqus-identifier=post.path, href=url_for(post.path) + '#disqus_thread')

          // add thumbnail
          .post-content
            a(href=url_for(post.path))
              +thumbnail(post)

          h3.post-title
            a(href=url_for(post.path))
              +title(post)
          if post.description
            .post-desc
              != post.description
          else
            .post-desc
              - var content = ''
              - var tags = post.tags.toArray()
              - tags.forEach(function(val, key){
                  - n = val.name
                  - if (key == 0) { content += (n.charAt(0).toUpperCase() + n.slice(1)) }
                  - else if (key == tags.length - 1) { content += (' and ' + n + '.')  }
                  - else {content += (', ' + n) }
              - })
                // - console.log(tag)
              != content
          //-
            else if post.excerpt
              .post-content
                != post.excerpt
            else if post.content
              - var br = 0
              - for (var i = 0; i < 5; ++i) {
                - br = post.content.indexOf('\n',br+1)
                if br<0
                  - break
                if br >150
                  - break
              - }
              if br < 0
                .post-content
                  != post.content
              else
                .post-content
                  != post.content.substring(0, br)
          div(class='readmore')
            a(href=url_for(post.path))= readingTime(post.content)

  include _partial/paginator


  if theme.disqus
    script(id='dsq-count-scr', src='//#{theme.disqus}.disqus.com/count.js', async)
