if page.next || page.prev
  .post-nav.pure-u-1.pure-u-md-4-4
    //-
      h2
        img(src= theme.logo, class='blog-logo nofancybox')
        != "Other Posts"
    //-
      if page.prev
        a.pre(href=url_for(page.prev_link ? page.prev_link : page.prev.path))= page.prev.title
    div.pure-u-md-1-2
      if page.prev
        a.pre(
          href=url_for(page.prev_link ? page.prev_link : page.prev.path),
        )
          span
            =page.prev.title
          i
            if page.prev.thumbnail
                img(src=page.prev.thumbnail, class="nofancybox")
              else
                +thumbnailPNG(page.prev.title)
      else
        a.pre.no-more(href='javascript:return false;')
          span
            = "You are reading the lastest post"

    //-if page.next
      a.next(href=url_for(page.next_link ? page.next_link : page.next.path))= page.next.title
    
    div.pure-u-md-1-2  
      if page.next  
        a.next(
          href=url_for(page.next_link ? page.next_link : page.next.path),
        )
          span
            =page.next.title
          i
            if page.next.thumbnail
              img(src=page.next.thumbnail, class="nofancybox")
            else
              +thumbnailPNG(page.next.title)
      else
        a.next.no-more(href='javascript:return false;')
          span
            = "You are reading the oldest post"